/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import "./style/navbar-brand";
@import "./style/navbar-menu";
@import "./style/landing-page/slider";

// CSS Fix for vuexy
.vertical-layout .header-navbar .navbar-container ul.navbar-nav li.dropdown .dropdown-menu {
	right: auto;
}

.dark-layout body {
	background-color: #161D31;
}

.dark-layout .header-navbar {
	background-color: #161D31;
}

.dark-layout .navbar-sticky .header-navbar.navbar-shadow {
	box-shadow: none;
}

html .navbar-sticky .app-content {
	padding-top: 50px !important;
}
@media (max-width: 767.98px) {
	html body.navbar-sticky .app-content {
		padding-top: 50px !important;
	}
}

.landing-banner-image-wrapper {
	background: url(/images/landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 85vh;
}

.dark-layout a {
	color: #695efc;
}

.dark-layout a:hover {
    /* Darken on click by 15% (down to 85%) */
	color: #695efc;
    filter: brightness(0.85);
}

// bugfix for select.form-select not rending error color
.dark-layout select.form-select.error {
	border-color: #ea5455;
}

.navbar-brand {
	margin-left: 9vw;
}

ul.nav.navbar-nav.navbar-menu {
	margin-right: 9vw;
}

.main-menu-content {
	margin-top: 20px;
}

.navigation .navigation-header.user-info {
	text-transform: none;
}

.main-menu.menu-dark .navigation .navigation-header.user-info span {
	font-weight: 600;
	font-size: 15px;
}


.dark-layout .main-menu-content .navigation-main .navigation-header.user-info {
	color: #d0d2d6 !important;
}


.customizer {
	height: auto;
	top: auto;
	bottom: 15%;
	// bottom: 5v;
	width: 300px;
	right: -300px;
	border: 1px solid #161D31;
}

.customizer .customizer-toggle .feather {
	width: 25px;
	height: 25px;
}

.customizer .customizer-toggle
{
	width: 53px;
	height: 180px;
	left: -54px;
	top: 0%;
}

.fs-lg {
	font-size: 17.5px !important;
}

.center,
.img-center {
	margin: 0 auto;
}

.bottom-to-top,
.toptobottom {
	// -ms-writing-mode: tb-rl;
	display: inline-block;
}

.bottom-to-top {
	writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

.bottom-to-top {
	transform: none !important;
}
