/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import "./style/navbar-brand";
@import "./style/navbar-menu";
@import "./style/landing-page/slider";

// CSS Fix for vuexy
.vertical-layout .header-navbar .navbar-container ul.navbar-nav li.dropdown .dropdown-menu {
	right: auto;
}

.dark-layout body {
	background-color: #161D31;
}

.dark-layout .header-navbar {
	background-color: #161D31;
}

.dark-layout .navbar-sticky .header-navbar.navbar-shadow {
	box-shadow: none;
}

html .navbar-sticky .app-content {
	padding-top: 50px;
}

.landing-banner-image-wrapper {
	background: url(/images/landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 85vh;
}

.dark-layout a {
	color: #695efc;
}

.dark-layout a:hover {
    /* Darken on click by 15% (down to 85%) */
	color: #695efc;
    filter: brightness(0.85);
}
